<div class="card h-100 shadow-sm clickable cursor-pointer" (click)="onEdit()">
  <div class="card-body d-flex flex-column">
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <span class="badge bg-light text-muted id-card">ID: {{ cliente.idCliente }}</span>

      <div class="text-center flex-fill">
        <span class="badge status bg-info text-white px-2 d-inline-block text-truncate"
          style="">
          {{ cliente.status || 'Sem status' }}
        </span>
      </div>

      <div class="d-flex align-items-center">
        <span class="rounded-circle me-2" [ngClass]="corFundo"
          style="display:inline-block; width:10px; height:10px;">
        </span>
        <small [ngClass]="corTexto" class="fw-semibold dias-contador">
          {{ dias }} {{ dias === 1 ? 'dia' : 'dias' }}
        </small>
      </div>
    </div>

    <!-- Nome -->
    <h3 class="card-title nome-cliente text-truncate">{{ cliente.nome }}</h3>

    <!-- Informações com ícones e separador -->
    <div class="d-flex align-items-center gap-1 text-muted small mb-3 flex-wrap">
      @if (cliente.cidade) {
        <ng-icon name="lucideMapPin"></ng-icon>
        <span>cidade: </span>
        {{ cliente.cidade }}
      }

      @if (cliente.cidade && cliente.campanha && cliente.campanha != 'Sem Campanha') {
        <span>|</span>
      }

      @if (cliente.campanha && cliente.campanha != 'Sem Campanha') {
        <ng-icon name="lucideMegaphone"></ng-icon>
        <span>campanha: </span>
        <span class="text-primary">{{ cliente.campanha }}</span>
      }
    </div>

    <!-- Ações -->
    <div class="d-flex gap-2 border-top pt-2 mb-2">
      <button type="button" class="btn py-2 px-2 btn-success btn-sm d-flex align-items-center" (click)="abrirWhatsapp($event)">
        <ng-icon name="lucideMessageCircle" class="me-1" size="16"></ng-icon>
        WhatsApp
      </button>
      <!-- você pode adicionar mais botões aqui -->
      <button type="button" class="btn py-2 px-2 btn-primary btn-sm d-flex align-items-center" (click)="marcarContato($event)" [disabled]="isUltimoContatoHoje">
        <ng-icon name="lucideCheck" class="me-1" size="16"></ng-icon>
        Marcar contato
      </button>
    </div>

    <!-- Footer -->
    <div class="mt-auto pt-2 border-top">
      <small class="text-muted">
        Criado em: {{ cliente.createdAt | date:'dd/MM/yyyy' }}
        {{ cliente.responsavel ? 'por ' + getPrimeiroNome(cliente.responsavel.nomeCompleto) : '' }}
      </small>
    </div>
  </div>
</div>
