.orange-bg {
  background-color: #fd7e14 !important;
}
.orange-text {
  color: #fd7e14 !important;
}

.card-title{
  font-weight: bolder;
}

.status{
  max-width: 140px;
}

.nome-cliente{
  font-size: 1.2rem;
}

@media (max-width: 768px) {

  .status{
    max-width: 180px;
    font-size: 1.2rem;
  }
  .nome-cliente{
    font-size: 1.3rem;
  }

  .id-card{
    font-size: 1rem;
  }

  .dias-contador{
    font-size: 1.2rem;
  }
}
