<header class="w-100" >
	<nav class="navbar">



		<img class=" " src="../../assets/Logo Branca.png"/>

    <div class="navbar-brand ">
      <span class="text-uppercase text-center d-none d-sm-block">
        <span *ngIf="!nomePedido"> {{ userName || 'Sistema Corporativo' }} </span>



        <span *ngIf="nomePedido">
          Trabalhando: {{nomePedido}}
          <i  class="icon arrow text-danger  fa-solid fa-circle-minus separar"
          (click)="deletePedido()"
          ></i>
        </span>
      </span>
    </div>


		<ul id="user-info" class="pull-right">

       <a href="" (click)="logout()" class="logout">Logout <i class="fa fa-sign-out-alt"></i></a>

		</ul>
	</nav>
</header>
