<header>
	<nav class="navbar">
		<span class="navbar-brand text-uppercase text-center d-none d-sm-block">{{ currentPage || 'Sistema Corporativo' }}</span>

		<img class="pull-left" src="../../assets/Logo Branca.png"/>

		<ul id="user-info" class="pull-right">
				<!-- <a [routerLink]="['perfil']" title="Meu Perfil">{{ userName(user) }}<i class="fa fa-user-circle"></i></a>
				<a (click)="logout()" title="Logout"><i class="fa fa-sign-out-alt"></i></a> -->
        <a href="" (click)="logout()" class="logout">Logout <i class="fa fa-sign-out-alt"></i></a>

			<!-- <ng-template #login>
				<li><a [routerLink]="['login']">Fazer Login</a></li>
			</ng-template> -->
		</ul>
	</nav>
</header>
