header {
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.5);
  z-index: 100; /* Ajuste para garantir que o header esteja acima de outros elementos */
  position: relative;
}

.logout {
  text-decoration: none;
}

nav {
  background-color: #65946e;
  line-height: 50px;
  vertical-align: middle;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding: 5px 0;
  background-image: url('../../assets/gridsolar3.png'); /* Caminho para a imagem otimizada */
  background-repeat: repeat; /* Faz a imagem se repetir */
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

img {
  height: 45px;
  margin-left: 12px;
}

.navbar-brand {
  font-size: 22px;
  color: white;
  width: 100%;
  position: absolute;
}

#user-info {
  font-size: 16px;
  margin: auto 12px;
  padding-right: 7px;
  z-index: 2;
  list-style: none;
  position: relative;
}

#user-info a {
  line-height: 22px;
  color: white;
  vertical-align: middle;
  font-family: "Roboto Light", "Roboto", Helvetica, Arial, sans-serif;
  display: inline-block;
}

#user-info i {
  font-size: 22px;
  padding-left: 10px;
  vertical-align: bottom;
}

#user-info>li {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

ul.dropdown-menu {
  background-color: #65946e;
  margin: 0px;
  padding: 0;
  border-top: 0;
  border-radius: 0;
  border-bottom-left-radius: 5px;
}

ul.dropdown-menu>li:focus,
ul.dropdown-menu>li:hover {
  background-color: #65946e;
}

ul.dropdown-menu>li>a {
  padding-left: .5rem;
}

#user-info ul.dropdown-menu i {
  font-size: 16px;
}

#user-info>li:hover,
ul.dropdown-menu>li:hover {
  cursor: pointer;
}

.notification{
  margin-right: 33px;
}

.notifications-dropdown {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: white;
  border: 1px solid #ccc;
  width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 200;
  padding: 10px;
  border-radius: 5px;
  max-height: 640px; /* Definir a altura máxima para o dropdown */
  overflow-y: auto; /* Adicionar scroll quando ultrapassar a altura máxima */
}

.notification-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-item:hover {
  background-color: #f9f9f9;
}

.notification i.fa-bell {
  font-size: 24px;
  cursor: pointer;
  color: white;
  margin-right: 12px;
  position: relative;
}

.notification-badge {
  position: absolute;
  top: 32px;
  right: 81px;
  width: 13px;
  height: 13px;
  background-color: red;
  border-radius: 50%;
}

.notification-title {
  font-weight: bold;
}

.notification-city {
  color: gray;
}

/* Estilizando o scroll para um design fino */
.notifications-dropdown::-webkit-scrollbar {
  width: 8px;
}

.notifications-dropdown::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 10px;
}

.notifications-dropdown::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
