.line{
  padding: 12px 12px;
}

.container{
  margin-bottom: 50px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.space{
  width: 10px;
  height: 1px;
}

.money{
  font-size: 17px;
  padding-top: 8px;
}

:host ::ng-deep .selecter .ng-select-container {
  height: calc(1.5em + 0.75rem + 4px) !important;
  border-color: #dee2e6;
}


.lista-contratos{
  // background-color: #90cf9c;
  width: 80%;
  margin: 0 auto;
  padding: 20px 12px;
  z-index: 0;

  .card{
    display: flex;
    justify-content: center;
    padding: 12px 12px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: #407f5c;
      i {
        color: #ffffff;
      }
      span{
        color: #ffffff;
      }
    }

    i{
      color: #5ea66c;
      margin: 0 2px;

    }
  }
}

.animate__fadeOutDown{
  z-index: -5;
}

.pagamento-area{
  position: relative;
  width: 100%;
  height: 200px;

  >div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.big-input{
  width: 500px;
}

.overflow{
  text-overflow: ellipsis; 
}

// Responsive
@media (max-width: 768px) {
  .big-input{
    max-width: 100% !important;
  }

  .line{
    width: 100%;
  }

  .pagamento-area{
    position: relative;
    width: 100%;
    height: 500px;

    >div{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .card{
      margin: 6px 3px;
      height: 140px;
      width: 190px;
    }
  }
}

