.qr-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  img {
    margin: 16px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: #0056b3;
    }
  }
}


button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-info {
  background-color: #17a2b8;
  color: white;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.9;
}


// Classe para ocultar elementos no PDF
.no-buttons.no-pdf {
  display: none;
}
