<div class="qr-modal-content">
  <div class="w-100 qr-code">
    <h3>{{label}}</h3>
    <div *ngIf="qrCodeUrl">
      <img [src]="qrCodeUrl" alt="QR Code">
    </div>
    <span class="mb-3">{{ link }}</span>
  </div>
</div>

  <!-- Botões com ícones e estilos -->
  <div class="no-pdf d-flex w-100 justify-content-center mt-3">
    <button class="btn btn-primary  mt-2" (click)="downloadQrCode()" >
      <i class="fas fa-download"></i> Baixar QR Code
    </button>
    <button class="btn btn-success mt-2" (click)="downloadPdf()" style="margin-left: 10px;">
      <i class="fas fa-file-pdf"></i> Baixar PDF
    </button>
    <a [href]="link" class="btn btn-info mt-2" style="margin-left: 10px;">
      <i class="fas fa-link"></i> Acessar
    </a>
  </div>
