<div class="w-100">
  <!-- Inputs para pesquisa de pedidos -->
  <div class="d-flex flex-wrap justify-content-lg-start w-100">

    <div class="input d-flex align-items-center mr-2 interval">
      <label for="rangeDatas" class="mr-1">Intervalo:</label>
      <input type="text" class="form-control" placeholder="Escolha um intervalo de datas" bsDaterangepicker
        [(ngModel)]="pesquisa.rangeDatas" [bsConfig]="bsConfig">
    </div>

    <div class="input d-flex align-items-center mr-2 nome">
      <!-- Radio button bootstrap para pesquisaGlobal -->
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="isGlobal" [(ngModel)]="pesquisa.isGlobal">
        <label class="form-check-label" for="isGlobal">Ignorar Data</label>
      </div>
    </div>

    <div class="input d-flex align-items-center mr-2">
      <label for="monthSelect" class="mr-1">Período:</label>
      <ng-select class="month" id="periodo" [items]="months" bindValue="value" bindLabel="label" dropdownPosition="bottom"
        placeholder="Selecione um período" (change)="onMonthChange($event)">
        <ng-template ng-option-tmp let-item="item">
          <div [title]="item.label">{{ item.label }}</div>
        </ng-template>
      </ng-select>
    </div>

    <div class="input d-flex align-items-center mr-2 status">
      <label for="monthSelect" class="mr-1">Status:</label>

      <ng-multiselect-dropdown class="w-100" name="pesquisa.status" [placeholder]="'Filtrar status'" [data]="statusList"
        [(ngModel)]="pesquisa.status" [settings]="dropdownSettingsStatus">
      </ng-multiselect-dropdown>
    </div>


    <div class="input d-flex align-items-center mr-2 nome">
      <!-- Nome Cliente -->
      <label for="nomeCliente" class="mr-1">Nome:</label>
      <input type="text" class="form-control" id="nomeCliente" [(ngModel)]="pesquisa.nomeCompleto">
    </div>




    <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="iniciarPesquisa()">
      <i class="fa-solid fa-search"></i>
    </button>
  </div>
</div>
