<div class="tabela-container">

  <app-modal #modal class="info ">
    <div class="w-100 "  *ngIf="showDetails">

      <div class="id">
        {{ detalhes.idPedido }}
      </div>

      <i class="fa solid fa-circle-xmark icon bg-danger text-white"
      (click)="closeModal()"
      ></i>

      <!-- Navegação -->
      <h2 class="navegacao">

        <div class="holder">
          <i class="fa-solid fa-angles-left text-info"
          (click)="voltarPedido(detalhes)"
          *ngIf="indiceDetalhe > 0"
          ></i>
        </div>

        Detalhes

        <div class="holder">
          <i class="fa-solid fa-angles-right text-info"
          *ngIf="indiceDetalhe < indiceLimiteDetalhe - 1"
          (click)="proximoPedido(detalhes)"
          ></i>
        </div>
      </h2>
      <!-- Navegação -->

      <h4 class="ref-header  text-danger">Data Criado: {{ formatarData(detalhes.dataPedido) }}</h4>
      <div class="details">

        <h3 class="w-100">Detalhes:</h3>
        <div class="check-list">
          <div class="check">
            <i class="fa-solid "
            [ngClass]="detalhes?.detalhes?.orcamentoGerado ? 'fa-check text-success' : 'fa-x text-danger'"
            ></i> Orçamento Gerado
          </div>

          <div class="check">
            <i class="fa-solid"
            [ngClass]="detalhes?.detalhes?.visitaRealizada ? 'fa-check text-success' : 'fa-x text-danger'"
            ></i>  Visita Realizada
          </div>

          <div class="check">
            <i class="fa-solid"
            [ngClass]="detalhes?.detalhes?.contratoAssinado ? 'fa-check text-success' : 'fa-x text-danger'"
            ></i> Contrato Assinado
          </div>

          <div class="check">
            <i class="fa-solid"
            [ngClass]="detalhes?.detalhes?.equipamentoComprado ? 'fa-check text-success' : 'fa-x text-danger'"
            ></i> Equipamento Comprado
          </div>

          <div class="check">
            <i class="fa-solid"
            [ngClass]="detalhes?.detalhes?.sistemaHomologado ? 'fa-check text-success' : 'fa-x text-danger'"
            ></i> Sistema Homologado
          </div>
        </div>

        <h3 class="w-100">Pessoal:</h3>
        <div class="detail">
          <span class="label">Nome:</span>
          <span class="content">{{ detalhes.nomeCompleto }}</span>
        </div>

        <div class="detail">
          <span class="label">Celular:</span>
          <span class="content">{{ detalhes.celular }}</span>
        </div>

        <div class="detail">
          <span class="label">Email:</span>
          <span class="content">{{ detalhes.email }}</span>
        </div>

        <div class="detail">
          <span class="label">Endereço:</span>
          <span class="content">{{ detalhes.cidade }} - {{ detalhes.rua }} - {{ detalhes.cep }}</span>
        </div>

        <span class="separator"></span>

        <h3 class="w-100">Gerencial:</h3>
        <div class="detail">
          <span class="label">Status:</span>
          <span class="content">{{ detalhes.status }}</span>
        </div>

        <div class="detail">
          <span class="label">Consumo:</span>
          <span class="content">{{ detalhes.consumoDeEnergiaMensal }}</span>
        </div>

        <div class="detail" *ngIf="userCargo=='ADMINISTRADOR'">
          <span class="label">Faturamento:</span>
          <span class="content">{{ detalhes.faturamento | currency:'BRL' }}</span>
        </div>

        <div class="detail">
          <span class="label">Data Do Pedido:</span>
          <span class="content">{{ formatarData(detalhes.dataPedido) }}</span>
        </div>

        <div class="detail">
          <span class="label">Referencia:</span>
          <span class="content">{{ detalhes.ref }}</span>
        </div>

        <div class="detail">
          <span class="label">Indicação:</span>
          <span class="content">{{ detalhes.indicacao ? detalhes.indicacao : "Sem"}}</span>
        </div>

        <span class="separator"></span>

        <h2>Observação:</h2>
        <div class="d-flex align-items-center  ml-3">
          <span class="obs text-danger">{{ detalhes.observacao ? detalhes.observacao : "Sem Obs"}}</span>
        </div>
      </div>
    </div>

    <div class="w-100"  *ngIf="showEdit">
      <i class="fa solid fa-circle-xmark icon bg-danger text-white"
      (click)="closeModal()"
      ></i>


      <div class="id">
        {{ detalhes.idPedido }}
      </div>

      <!-- Navegação -->
      <h2 class="navegacao">
        <div class="holder">
          <i class="fa-solid fa-angles-left text-info"
          (click)="voltarPedido(detalhes,true)"
          *ngIf="indiceDetalhe > 0"
          ></i>
        </div>


        Editar Detalhes
        <div class="holder">
          <i class="fa-solid fa-angles-right text-info"
          *ngIf="indiceDetalhe < indiceLimiteDetalhe - 1"
          (click)="proximoPedido(detalhes,true)"
          ></i>
        </div>
      </h2>
      <!-- Navegação -->

      <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="edit-form">
        <h3 class="w-100">Detalhes:</h3>

        <div class="check-list">
          <!-- <div class="check" (click)="toggleDetalhe('trafegoPago')">
            <i class="fa-solid"
            [ngClass]="{'fa-check text-success': editForm.value.detalhes.trafegoPago, 'fa-x text-danger': !editForm.value.detalhes.trafegoPago}"
            ></i> Tráfego Pago
          </div> -->

          <div class="check" (click)="toggleDetalhe('orcamentoGerado')">
            <i class="fa-solid"
            [ngClass]="{'fa-check text-success': editForm.value.detalhes.orcamentoGerado, 'fa-x text-danger': !editForm.value.detalhes.orcamentoGerado}"
            ></i> Orçamento Gerado
          </div>

          <div class="check" (click)="toggleDetalhe('visitaRealizada')">
            <i class="fa-solid"
            [ngClass]="{'fa-check text-success': editForm.value.detalhes.visitaRealizada, 'fa-x text-danger': !editForm.value.detalhes.visitaRealizada}"
            ></i>  Visita Realizada
          </div>

          <div class="check" (click)="toggleDetalhe('contratoAssinado')">
            <i class="fa-solid"
            [ngClass]="{'fa-check text-success': editForm.value.detalhes.contratoAssinado, 'fa-x text-danger': !editForm.value.detalhes.contratoAssinado}"
            ></i>  Contrato Assinado
          </div>

          <div class="check" (click)="toggleDetalhe('equipamentoComprado')">
            <i class="fa-solid"
            [ngClass]="{'fa-check text-success': editForm.value.detalhes.equipamentoComprado, 'fa-x text-danger': !editForm.value.detalhes.equipamentoComprado}"
            ></i>  Equipamento Comprado
          </div>

          <div class="check" (click)="toggleDetalhe('sistemaHomologado')">
            <i class="fa-solid"
            [ngClass]="{'fa-check text-success': editForm.value.detalhes.sistemaHomologado, 'fa-x text-danger': !editForm.value.detalhes.sistemaHomologado}"
            ></i>  Sistema Homologado
          </div>
        </div>
        <span class="w-100 text-center text-primary infor">Clique em um detalhe para alterar seu valor</span>

        <!-- Marcar Datas -->
        <h3 class="w-100 mt-3 mb-3">Marcação de Eventos:</h3>

        <div class="form-group w-100 d-flex eventos justify-content-between" formGroupName="datas">

          <div class="visita" formGroupName="dataVisita">
            <label for="datas">Data Visita:</label>
            <input formControlName="data" type="text" id="datas" class="form-control"
              placeholder="Data da visita" bsDatepicker [bsConfig]="bsConfig" autocomplete="off">

              <div class="timepicker-container">
                <div class="timepicker-inputs">
                  <span>h</span>
                  <input type="number" formControlName="hora" min="0" max="23">
                  <span>:</span>
                  <input type="number" formControlName="minuto" min="0" max="59">
                  <span>m</span>
                </div>
              </div>
          </div>

          <div class="visita" formGroupName="dataInstalacao">
            <label for="datas">Data Instalação:</label>
            <input formControlName="data" type="text" id="datas" class="form-control"
              placeholder="Data da Instalação" bsDatepicker [bsConfig]="bsConfig" autocomplete="off">

              <div class="timepicker-container">
                <div class="timepicker-inputs">
                  <span>h</span>
                  <input type="number" formControlName="hora" min="0" max="23">
                  <span>:</span>
                  <input type="number" formControlName="minuto" min="0" max="59">
                  <span>m</span>

                </div>
                <!-- Você pode adicionar botões ou lógica adicional se necessário -->
              </div>
          </div>

        </div>

        <!-- Pessoal -->
        <h3 class="w-100">Pessoal:</h3>

        <div class="form-group">
          <label for="nomeCompleto">Nome:</label>
          <input type="text" class="form-control" id="nomeCompleto" formControlName="nomeCompleto">
        </div>

        <div class="form-group">
          <label for="celular">Celular:</label>
          <input type="tel" class="form-control" id="celular" formControlName="celular" placeholder="(00)-0000-0000" (input)="applyCelularMask($event)">
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" formControlName="email">
        </div>

        <div class="form-group">
          <label for="cidade">Cidade:</label>
          <input type="text" class="form-control" id="cidade" formControlName="cidade">
        </div>

        <div class="form-group">
          <label for="rua">Rua:</label>
          <input type="text" class="form-control" id="rua" formControlName="rua">
        </div>

        <div class="form-group">
          <label for="cep">CEP:</label>
          <input type="text" class="form-control" id="cep" formControlName="cep" maxlength="10" placeholder="00000-000">
        </div>

        <!-- Gerencial -->
        <h3 class="w-100">Gerencial:</h3>

        <div class="form-group">
          <label for="status">Status:</label>
          <input type="text" class="form-control" id="status" formControlName="status">
        </div>

        <div class="form-group">
          <label for="consumoDeEnergiaMensal">Consumo Mensal de Energia:</label>
          <input type="text" class="form-control" id="consumoDeEnergiaMensal" formControlName="consumoDeEnergiaMensal" appNumericOnly>
        </div>

        <div class="form-group">
          <label for="faturamento">Faturamento (R$):</label>
          <input type="text" class="form-control"
          id="faturamento" formControlName="faturamento"
          appNumericOnly >
        </div>

        <div class="form-group">
          <label for="dataPedido">Data do Pedido:</label>
          <input type="date" class="form-control" id="dataPedido" formControlName="dataPedido">
        </div>

        <div class="form-group">
          <label for="ref">Referência:</label>
          <input type="text" class="form-control" id="ref" formControlName="ref">
        </div>

        <div class="form-group">
          <label for="indicacao">Indicação:</label>
          <input type="text" class="form-control" id="indicacao" formControlName="indicacao">
        </div>

        <div class="form-group w-100 mb-3">
          <label for="cidade">Observação:</label>
          <textarea type="text" class="form-control " id="observacao" formControlName="observacao">
          </textarea>
        </div>




        <div class="form-group w-100 btn-area ">
          <div class="specials" >
            <button class="btn btn-warning" (click)="marcarStandby()" *ngIf="!rotaEspecial"><i class="fa-regular fa-hourglass text-dark"></i>STANDBY</button>

            <button class="btn btn-danger" (click)="marcarPerdido()"
            style="margin-left: 5px;" *ngIf="!rotaEspecial"><i class="fa-regular fa-triangle-exclamation "></i>PERDIDO</button>
            <!-- <button class="btn btn-primary">Salvar</button> -->

          </div>

          <div class="save">
            <button [disabled]="nothingChanged()" type="submit" class="btn btn-primary">Salvar</button>
          </div>

        </div>

      </form>
    </div>
  </app-modal>

  <!-- Header -->
  <div class="contadores">
    <span class="contador ">{{indicePagina + 1}}/{{totalPaginas}}</span>
  </div>

  <p class="w-100 text-center h2">{{titulo}}</p>

  <div class="apoio text-center">
    {{textoApoio}}
  </div>

  <div class="configs" *ngIf="list.length > 0" >
    <input class="mr-3" type="text" [(ngModel)]="searchText" placeholder="Pesquisar...">

    <div class="page-size select-container separar">
      <label for="pageSizeSelect" class="form-label mb-0 ">Itens por página:</label>
      <select id="pageSizeSelect" class="form-select" [(ngModel)]="pageSize" (change)="changePageSize()">
        <option [value]="10">10</option>
        <option [value]="20">20</option>
        <option [value]="50">50</option>
        <option [value]="100">100</option>
      </select>
    </div>

    <div class="ordenator">
      <div class="select-container">
        <select class="form-select criterio" (change)="selecionarCriterio($event)">
          <option value="">Ordenar Por</option>
          <option value="idPedido">ID</option>
          <option value="nomeCompleto">Nome</option>
          <option value="consumoDeEnergiaMensal">Consumo</option>
          <option value="cidade">Cidade</option>
        </select>

      </div>

      <div class="orders-ratio">
        <input type="radio" id="asc" name="direction" value="asc" (change)="setOrderDirection('asc')" checked>
        <i class="fa-solid fa-arrow-down-short-wide asc"></i>
        <br>

        <input type="radio" id="desc" name="direction" value="desc" (change)="setOrderDirection('desc')">
        <i class="fa-solid fa-arrow-down-short-wide desc"></i><br>
      </div>
    </div>



    <nav aria-label="Page navigation" class="ml-3 w-100">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <span class="page-link" (click)="changePage(currentPage - 1)">Anterior</span>
        </li>
        <!-- Gere números de página com base na quantidade total de itens e tamanho da página -->
        <li class="page-item" *ngFor="let page of getPagesArray()" [class.active]="page === currentPage">
          <span class="page-link" (click)="changePage(page)">{{ page }}</span>
        </li>
        <li class="page-item" [class.disabled]="currentPage === this.getTotalPages()">
          <span class="page-link" (click)="changePage(currentPage + 1)">Próximo</span>
        </li>
      </ul>
    </nav>

    <div class="bulk-avance" *ngIf="listaPedidosId.length > 0">
      <div (click)="retrocederPedidos()"
      class="retroceder d-flex justify-content-center align-items-center"
      *ngIf="canRetroceder" > <i class="fa-solid fa-angles-left"></i>
      Retroceder Selecionados</div>

      <div class="space"></div>

      <div (click)="enviarPara()"
      class=" enviar d-flex justify-content-center align-items-center"
      >
        Enviar Para...
      </div>

      <div class="space"></div>

      <div (click)="avancarPedidos()"
      *ngIf="canAvancar"
      class="avancar d-flex justify-content-center align-items-center"
      >
        Avançar Selecionados <i class="fa-solid fa-angles-right"></i></div>
    </div>
  </div>

  <div class="cabecalho">
    <div class="total">
      Total: {{list.length}}
    </div>
  </div>

  <div class="loading-container" *ngIf="loading">
    <div class="loading-circle"></div>
  </div>

  <div class="d-flex justify-content-center flex-wrap" *ngIf="!loading">
    <div class="card-pedido" *ngFor="let pedido of list | pesquisa: searchText : currentPage : pageSize">
      <div class="header">
        <input type="checkbox" [id]="'pedido-' + pedido.id" [checked]="pedido.selected" (change)="onCardSelect(pedido)" class="checkbox-custom">
        <div class="nome text-truncate text-uppercase">
          {{ pedido.nomeCompleto }}
        </div>
      </div>

      <div class="checkers">
        <div class="id-pedido">
          <span>ID:{{ pedido.idPedido }}</span>
          <span>{{pedido.consumoDeEnergiaMensal}}Kw/h</span>
        </div>
        <div class="data d-flex justify-content-center ">
          {{ formatarData(pedido.dataPedido) }}
        </div>
        <div class="address d-flex justify-content-center text-truncate">
          {{ pedido.cidade }} - {{ pedido.rua }}
        </div>
        <div class="edit d-flex justify-content-center">
          <i class="fa-solid fa-eye mini-icon bg-info text-white"
           (click)="abrirDetalhes(pedido)" ></i>
          <i class="fa-solid fa-pen mini-icon bg-success text-white separar"
          (click)="abrirEdicao(pedido)" *ngIf="podeEditar"></i>
        </div>
        <div class="align-icon" >
          <!-- Apenas para rotas especiais -->
          <i *ngIf="rotaEspecial"  class="icon bg-dark text-white separar"
          (click)="liberarPedido(pedido)"
          >Reativar</i>
          <!-- Apenas para rotas especiais -->


          <i *ngIf="canRetroceder && !rotaEspecial" class="icon bg-warning text-white"
          (click)="retrocederPedido(pedido)"
          >Retroceder</i>
          <i class="icon bg-danger text-white separar"
          (click)="deletarPedido(pedido)"
          >Deletar</i>
          <i *ngIf="canAvancar && !rotaEspecial"  class="icon bg-primary text-white separar"
          (click)="avancarPedido(pedido)"
          >Avançar</i>
        </div>
      </div>
    </div>
  </div>


  <h1 class="text-center" *ngIf="list.length === 0">
    - Sem Pedidos! -
  </h1>

  <div class="navigation">

    <i (click)="voltarPagina()" class="fa-solid fa-chevron-left icon bg-primary text-white"></i>
    <i (click)="avancarPagina()" class="fa-solid fa-chevron-right icon bg-primary text-white separar"></i>

  </div>



</div>
