.card-pedido{
  border: 2px solid #65946e;
  margin: 5px 10px;
  border-radius: 18px;
  overflow: hidden;
  // padding: 0 12px;
  width: 300px;
  .header{
    display: flex;
    // justify-content: space-around;
    background-color: #65946e;
    color: white;
    padding: 10px 0;




    .nome{
      width: 100%;
      text-align: center;

    }
  }

  .checkers{
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 200px;

    .id-pedido{
      min-width: 10px;
      padding: 0px 10px;
    }

    .data{
      font-weight: bold;
    }
    div{
      padding: 5px 0;
    }
    .edit{
      margin-bottom: 10px;

    }
    .align-icon{
      margin-bottom: 5px;
    }
  }
}


.mini-icon{
  padding: 8px 0;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  width: 50px;
}

.icon{
  padding: 8px 0;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  width: 90px;
}

.id{
  position: absolute;
  top: 10px;
  left: 10px;
}

.navegacao{
  display: flex;
  justify-content: center;
  margin-top: 5px;
  .holder{
    width: 28px;
    margin: 0px 20px;
    i{
      cursor: pointer;
    }
  }

}

.tabela-container{
  overflow-x: scroll;
}

.apoio{
  margin-bottom: 5px;
}

.cabecalho{
  background-color: white;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .total{
    font-size: 1.6rem;
  }
}

.check-list{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .check{
    padding: 10px 10px;
    i{
      font-size: 2rem;
    }
  }
}

.separar{
  margin-left: 5px;
}

.align-icon{
  display: flex ;
  justify-content: center ;
  cursor: pointer;
}

.ref-header{
  text-align: right;
}

.edit-form{
  display: flex;
  flex-wrap: wrap;
  div.form-group{
    width: 50%;
    padding-left: 5px;
  }

  .btn-area {
    display: flex;
    justify-content: right;
  }
}

.info{
  h2{
    text-align: center;
    margin-top: 30px !important;

  }

  .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    /* Outros estilos para o ícone, se necessário */
  }

  .details{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .separator{
      width: 100%;
      height: 0px;
      margin: 15px 10px;
      border: 1px solid black;
    }

    .detail{
      margin: 2px 5px;
      // background-color: #81C784;
      border-bottom: 2px solid #81C784;
      padding: 10px 15px;


      .label{
        color: black;
      }
      .content{
        margin-left: 12px;
      }
    }
  }
}

.navigation{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.lista-pedidos{


  .celular{
    min-width: 150px;
  }

  .nome{
    min-width: 150px;
  }
}

.configs{
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  *{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pagination{
    margin-bottom: 0;
    margin-left: 5px;
  }

  .page-size{

    #pageSizeSelect{
      width: 100px;
      height: 38px;
    }
  }

}

.contadores{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .tabela{
    max-width: 100%;
    overflow-x: scroll;
    padding: 0px 0px !important;
  }

  .info{
    h4{
      text-align: center;
    }
  }

  .configs{
    display: flex;
    justify-content: center;
    align-items: center;

    *{
      margin-bottom: 2px;
    }
  }
}

