.card{
  margin: 12px;
  width: 500px;
  max-width: 600px;
  min-height: 150px;
  border: 1px solid green;
  color: green;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
  padding: 12px;
  transition: background-color 0.3s, color 0.3s, transform 0.5s, opacity 0.5s; // Adiciona transição

  .fa-solid{
    font-size: 50px;
    text-align: center;
  }

  .fa-file-signature{
    margin-left: 15px;
  }

  .titulo{
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    word-wrap: normal;
  }

  .data{
    width: 70%;
    .obs{
      background-color: green;
      margin: 12px;
      padding: 12px;
      color: white;
    }
  }

  .actions{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }


  .desc{
    font-size: 1rem;
    text-align: center;

  }

  &:hover {
    background-color: green;
    color: white;

    .fa-solid,
    .titulo {
      color: white;
    }
    .data{
      .obs{
        color: green;
        background-color: white;
      }
    }
    .btn-success{
      background-color: white !important;
      color: green !important;
    }
  }

  &.animating {
    transform: scale(1.2); // Aumenta o tamanho
    opacity: 0; // Fade out
  }
}
