<div class="container mt-5 bg-light p-4 rounded tabela">

  <app-modal #modal class="info ">
    <div class="w-100 "  *ngIf="showDetails">

      <i class="fa solid fa-circle-xmark icon bg-danger text-white"
      (click)="closeModal()"
      ></i>
      <h2>Detalhes</h2>
      <h4 class="ref-header  text-danger">Referencia: {{ detalhes.ref }}</h4>
      <div class="details">
        <h3 class="w-100">Pessoal:</h3>
        <div class="detail">
          <span class="label">Nome:</span>
          <span class="content">{{ detalhes.nomeCompleto }}</span>
        </div>

        <div class="detail">
          <span class="label">Celular:</span>
          <span class="content">{{ detalhes.celular }}</span>
        </div>

        <div class="detail">
          <span class="label">Email:</span>
          <span class="content">{{ detalhes.email }}</span>
        </div>

        <div class="detail">
          <span class="label">Endereço:</span>
          <span class="content">{{ detalhes.cidade }} - {{ detalhes.rua }} - {{ detalhes.cep }}</span>
        </div>

        <span class="separator"></span>

        <h3 class="w-100">Gerencial:</h3>
        <div class="detail">
          <span class="label">Status:</span>
          <span class="content">{{ detalhes.status }}</span>
        </div>
        <div class="detail">
          <span class="label">Consumo:</span>
          <span class="content">{{ detalhes.consumoDeEnergiaMensal }}</span>
        </div>

        <div class="detail">
          <span class="label">Data Do Pedido:</span>
          <span class="content">{{ formatarData(detalhes.dataPedido) }}</span>
        </div>

        <div class="detail">
          <span class="label">Referencia:</span>
          <span class="content">{{ detalhes.ref }}</span>
        </div>

        <div class="detail">
          <span class="label">Responsável:</span>
          <span class="content">{{ detalhes.responsavel ? detalhes.responsavel : "Sem"}}</span>
        </div>

        <span class="separator"></span>

        <h2>Observação:</h2>
        <div class="d-flex align-items-center  ml-3">
          <span class="obs text-danger">{{ detalhes.observacao ? detalhes.observacao : "Sem Obs"}}</span>
        </div>
      </div>
    </div>

    <div class="w-100"  *ngIf="showEdit">
      <i class="fa solid fa-circle-xmark icon bg-danger text-white"
      (click)="closeModal()"
      ></i>
      <h2>Editar Detalhes</h2>

      <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="edit-form">

        <!-- Pessoal -->
        <h3 class="w-100">Pessoal:</h3>

        <div class="form-group">
          <label for="nomeCompleto">Nome:</label>
          <input type="text" class="form-control" id="nomeCompleto" formControlName="nomeCompleto">
        </div>

        <div class="form-group">
          <label for="celular">Celular:</label>
          <input type="tel" class="form-control" id="celular" formControlName="celular">
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" formControlName="email">
        </div>

        <div class="form-group">
          <label for="cidade">Cidade:</label>
          <input type="text" class="form-control" id="cidade" formControlName="cidade">
        </div>

        <div class="form-group">
          <label for="rua">Rua:</label>
          <input type="text" class="form-control" id="rua" formControlName="rua">
        </div>

        <div class="form-group">
          <label for="cep">CEP:</label>
          <input type="text" class="form-control" id="cep" formControlName="cep" maxlength="10" placeholder="00000-000">
        </div>

        <!-- Gerencial -->
        <h3 class="w-100">Gerencial:</h3>

        <div class="form-group">
          <label for="status">Status:</label>
          <input type="text" class="form-control" id="status" formControlName="status">
        </div>

        <div class="form-group">
          <label for="consumoDeEnergiaMensal">Consumo Mensal de Energia:</label>
          <input type="number" class="form-control" id="consumoDeEnergiaMensal" formControlName="consumoDeEnergiaMensal">
        </div>

        <div class="form-group">
          <label for="dataPedido">Data do Pedido:</label>
          <input type="date" class="form-control" id="dataPedido" formControlName="dataPedido">
        </div>

        <div class="form-group">
          <label for="ref">Referência:</label>
          <input type="text" class="form-control" id="ref" formControlName="ref">
        </div>

        <div class="form-group">
          <label for="responsavel">Responsável:</label>
          <input type="text" class="form-control" id="responsavel" formControlName="responsavel">
        </div>

        <div class="form-group w-100 mb-3">
          <label for="cidade">Observação:</label>
          <textarea type="text" class="form-control " id="observacao" formControlName="observacao">
          </textarea>
        </div>

        <div class="form-group w-100 btn-area ">
          <button [disabled]="nothingChanged()" type="submit" class="btn btn-primary">Salvar</button>
        </div>

      </form>
    </div>
  </app-modal>

  <div class="configs" *ngIf="list.length > 0" >

    <div class="page-size">
      <label for="pageSizeSelect" class="form-label">Itens por página:</label>
      <select id="pageSizeSelect" class="form-select" [(ngModel)]="pageSize" (change)="changePageSize()">
        <option [value]="20">20</option>
        <option [value]="50">50</option>
        <option [value]="100">100</option>
      </select>
    </div>

    <nav aria-label="Page navigation" class="ml-3">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <span class="page-link" (click)="changePage(currentPage - 1)">Anterior</span>
        </li>
        <!-- Gere números de página com base na quantidade total de itens e tamanho da página -->
        <li class="page-item" *ngFor="let page of getPagesArray()" [class.active]="page === currentPage">
          <span class="page-link" (click)="changePage(page)">{{ page }}</span>
        </li>
        <li class="page-item" [class.disabled]="currentPage === this.getTotalPages()">
          <span class="page-link" (click)="changePage(currentPage + 1)">Próximo</span>
        </li>
      </ul>
    </nav>
  </div>


  <table class="table table-bordered" *ngIf="list.length > 0">



    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Celular</th>
        <th scope="col">Data do Pedido</th>
        <th scope="col">Detalhes</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of paginatedList" class="lista-pedidos">
        <td scope="row">{{ pedido.idPedido }}</td>
        <td class="nome" scope="row">{{ pedido.nomeCompleto }}</td>
        <td class="celular" scope="row">{{ pedido.celular }}</td>
        <td class="data" scope="row">{{ formatarData(pedido.dataPedido) }}</td>
        <td scope="row">
          <div class="align-icon" >
            <i class="fa solid fa-eye icon bg-info text-white"
            (click)="abrirDetalhes(pedido)"></i>
            <i class="fa solid fa-pen icon bg-warning text-white separar"
            (click)="abrirEdicao(pedido)" *ngIf="isAdm"></i>
          </div>
        </td>
        <th scope="col">
          <div class="align-icon" >
            <i class="icon bg-warning text-white"
            (click)="retrocederPedido(pedido)">Retroceder</i>
            <i class="icon bg-primary text-white separar"
            (click)="avancarPedido(pedido)">Avançar</i>
            <i class="icon bg-danger text-white separar"
            (click)="deletarPedido(pedido)">Deletar</i>
          </div>
        </th>


      </tr>
    </tbody>
  </table>

  <h1 class="text-center" *ngIf="list.length === 0">
    Sem Pedidos!
  </h1>
</div>
