<div class="container mt-5 bg-light p-4 rounded">

  <app-modal #modal class="info">
    <h2>Detalhes
    </h2>
      <h4 class="ref-header  text-danger">Referencia: {{ detalhes.ref }}</h4>
    <div class="details">
      <h3 class="w-100">Pessoal:</h3>
      <div class="detail">
        <span class="label">Nome:</span>
        <span class="content">{{ detalhes.nomeCompleto }}</span>
      </div>

      <div class="detail">
        <span class="label">Celular:</span>
        <span class="content">{{ detalhes.celular }}</span>
      </div>

      <div class="detail">
        <span class="label">Email:</span>
        <span class="content">{{ detalhes.email }}</span>
      </div>

      <div class="detail">
        <span class="label">Endereço:</span>
        <span class="content">{{ detalhes.cidade }} - {{ detalhes.rua }} - {{ detalhes.cep }}</span>
      </div>

      <span class="separator"></span>

      <h3 class="w-100">Gerencial:</h3>
      <div class="detail">
        <span class="label">Status:</span>
        <span class="content">{{ detalhes.status }}</span>
      </div>
      <div class="detail">
        <span class="label">Consumo:</span>
        <span class="content">{{ detalhes.consumoDeEnergiaMensal }}</span>
      </div>

      <div class="detail">
        <span class="label">Data Do Pedido:</span>
        <span class="content">{{ detalhes.dataPedido }}</span>
      </div>

      <div class="detail">
        <span class="label">Referencia:</span>
        <span class="content">{{ detalhes.ref }}</span>
      </div>

      <div class="detail">
        <span class="label">Responsável:</span>
        <span class="content">{{ detalhes.responsavel ? detalhes.responsavel : "Sem"}}</span>
      </div>
    </div>
  </app-modal>


  <table class="table table-bordered" *ngIf="list.length > 0">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Celular</th>
        <th scope="col">Data do Pedido</th>
        <th scope="col">Detalhes</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of list">
        <td scope="row">{{ pedido.idPedido }}</td>
        <td scope="row">{{ pedido.nomeCompleto }}</td>
        <td scope="row">{{ pedido.celular }}</td>
        <td scope="row">{{ formatarData(pedido.dataPedido) }}</td>
        <td scope="row">
          <div class="align-icon" (click)="abrirDetalhes(pedido)">
            <i class="fa solid fa-eye icon bg-info text-white"></i>
          </div>
        </td>
        <th scope="col">
          <div class="align-icon" >
            <i class="icon bg-warning text-white"
            (click)="retrocederPedido(pedido)">Retroceder</i>
            <i class="icon bg-primary text-white separar"
            (click)="avancarPedido(pedido)">Avançar</i>
            <i class="icon bg-danger text-white separar"
            (click)="deletarPedido(pedido)">Deletar</i>
          </div>
        </th>


      </tr>
    </tbody>
  </table>

  <h1 class="text-center" *ngIf="list.length === 0">
    Sem Pedidos!
  </h1>
</div>
