<div class="container">
  <app-modal #modal>
    <app-qr-code-modal [link]="qrLink"></app-qr-code-modal>
  </app-modal>

  <div class="w-100 mt-5 d-flex flex-wrap">

    @for (form of dadosFormulario; track form) {
      <div class="">
        <a class="card d-flex justify-content-center text-decoration-none"
          [routerLink]="[form.link]" target="_blank"
          >
          <i [class]="form.icon" class="fa-solid"></i>
          <span class="titulo"> {{ form.titulo }} </span>
          <span class="desc"> {{ form.desc }} </span>
          <button class="open-modal" (click)="abrirModal($event,form.linkQr)">Gerar Qr Code</button>
        </a>
      </div>
    }
  </div>

</div>
