<div class="container">

  <div class="w-100 mt-5 d-flex flex-wrap">

    <div>
      <a class="card d-flex justify-content-center text-decoration-none"
      [routerLink]="['/pedido/criar/externo']" target="_blank"
      title="Novo Pedido"
      >
        <i  class="fa-solid fa-check-circle"></i>
        <span class="titulo">Fechamento de Pedido</span>
        <span class="desc"> Formulário para fechamento de pedido </span>
      </a>
    </div>

    <div *ngFor="let form of dadosFormulario" class="">

      <a class="card d-flex justify-content-center text-decoration-none"
      [routerLink]="[form.link]" target="_blank"

      >
        <i [class]="form.icon" class="fa-solid"></i>
        <span class="titulo"> {{ form.titulo }} </span>
        <span class="desc"> {{ form.desc }} </span>
      </a>
    </div>
  </div>

</div>
