.col-check { width: 5%; }
.col-id { width: 5%; }
.col-nome { width: 25%; }
.col-data { width: 10%; }
.col-status { width: 10%; }
.col-acoes { width: 20%; }

.separar{
  margin-left: 5px;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.checkbox-case{
  margin: 0 auto;
}

.check{
  transform: scale(1.7);
}




.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px; /* Ajuste a altura conforme necessário */
}

.loading-circle {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid blue; /* Cor do círculo */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.select-count{

  .counter{
    font-size: 1.8rem;
  }

  .choices{
    margin-bottom: 5px;

    .label{
      margin-right: 5px;
    }

    .arrow{
      font-size: 1.5rem;
    }

    i span{
      font-family: "Roboto Light", "Roboto", Helvetica, Arial, sans-serif;
      padding-left: 10px;
    }
  }
}

.icons i{
  margin-top: 5px;
  margin-bottom: 5px;
}


.choices i {
  vertical-align: bottom;
}

.hover{
  cursor: pointer;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 600px) {
  .col-status{
    width: 60px;
  }

  .icons{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 140px;
    i{
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  // Outras regras para melhorar a responsividade
}



