.col-check { width: 5%; }
.col-id { width: 5%; }
.col-nome { width: 25%; }
.col-data { width: 10%; }
.col-status { width: 10%; }
.col-acoes { width: 20%; }
.col-tmp{ width: 8%}

.separar{
  margin-left: 5px;
}

.table-responsive {
  // overflow-x: auto;
  // -webkit-overflow-scrolling: touch;
  overflow-x: auto; /* Mantém a rolagem horizontal */
  min-width: 100%;  /* Permite que a tabela seja maior */
  width: auto;
}

.checkbox-case{
  margin: 0 auto;
}

.check{
  transform: scale(2);
}

tr{
  max-height: 90px !important;
}




.select-count{

  .counter{
    font-size: 1.8rem;
  }

  .choices{
    margin-bottom: 5px;

    .label{
      margin-right: 5px;
    }

    .arrow{
      font-size: 1.5rem;
    }

    i span{
      font-family: "Roboto Light", "Roboto", Helvetica, Arial, sans-serif;
      padding-left: 10px;
    }
  }
}

.icons i{
  margin-top: 5px;
  margin-bottom: 5px;
}


.choices i {
  vertical-align: bottom;
}

.hover{
  cursor: pointer;
}


@media (max-width: 600px) {
  .col-status{
    width: 60px;
  }

  table tbody tr{
    max-height: 90px;
  }

  .col-acoes { width: 100px !important; }

  .col-obs{
    display: none;
  }

  .tippy-obs{
    display: none;
  }

  .icons{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 140px;
    i{
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  // Outras regras para melhorar a responsividade
}



