.input{
  margin: 0 12px;
}

:host ::ng-deep .selecter .ng-select-container {
  height: calc(1.5em + 0.75rem + 4px) !important;
  border-color: #dee2e6;
}

.line{
  padding: 12px 12px;
}

.container{
  margin-bottom: 50px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.space{
  width: 10px;
  height: 1px;
}

.money{
  font-size: 17px;
  padding-top: 8px;
}

