<h2 class="w-100 text-center">- Dimensionar Projeto -</h2>

<div class="line d-flex w-100 justify-content-center">

  <div class="input" style="width: 550px;">
    <label for="inversores" class="form-label">Inversores</label>

    <ng-select class="selecter" [(ngModel)]="inversor" [items]="equipamentos.inversores" bindLabel="nome" bindValue="nome" [placeholder]="inversor || 'Selecione um Inversor'" name="inversor" (change)="dimencionar()">
    </ng-select>
  </div>

  <div class="input" style="width: 550px;">
    <label for="placas" class="form-label">Módulos</label>

    <ng-select class="selecter" [(ngModel)]="placa" [items]="equipamentos.placas" bindLabel="nome" bindValue="nome" [placeholder]="placa || 'Selecione um Modulo'" name="placas" (change)="dimencionar()">
    </ng-select>
  </div>

</div>

<div class="resultado w-100 justify-content-center d-flex flex-column mt-4">
    <p class=" text-center ">Quantidades de placas: {{dimensionamento?.placasMaximas}}</p>
    <p class=" text-center ">Disjuntor: {{dimensionamento?.disjuntor}}A</p>
    <p class=" text-center ">Bitola: {{dimensionamento?.bitola}}mm²</p>
</div>


<!-- <div class="w-100 d-flex justify-content-center mt-4 ">
  <button (click)="dimencionar()">Dimensionar!</button>
</div> -->
