<h2 class="w-100 text-center">- Dimencionar Projeto -</h2>

<div class="line d-flex w-100 justify-content-center">

  <div class="input" style="width: 550px;">
    <label for="inversores" class="form-label">Inversores</label>
    <select class="form-control" id="inversores" name="inversores" [(ngModel)]="inversor" required>
      <option value="">Selecione um Inversor</option>
      <option *ngFor="let inversor of equipamentos.inversores" [value]="inversor.nome">{{ inversor.nome }}</option>
    </select>
  </div>

  <div class="input" style="width: 550px;">
    <label for="placas" class="form-label">Módulos</label>
    <select class="form-control" id="placas" name="placas" [(ngModel)]="placa" required>
      <option value="">Selecione um Módulo</option>
      <option *ngFor="let placa of equipamentos.placas" [value]="placa.nome">{{ placa.nome }}</option>
    </select>
  </div>

</div>




<div class="w-100 d-flex justify-content-center mt-4 ">
  <button (click)="dimencionar()">Dimencionar!</button>
</div>
