<div class="form-case">

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <div class="card my-3">
      <div class="card-header">
        <span>Cliente</span>
      </div>
      <div class="form-row flex-wrap my-4 d-flex justify-content-center align-items-center">
        <div class="text">
          <span class="">Id Cliente: {{pedido.idPedido}}</span>
          <span class="space">Nome: {{pedido.nomeCompleto}}</span>
        </div>
      </div>
    </div>

    <div class="card my-3">
      <div class="card-header">
        <span>Projeto</span>
      </div>

      <div class="form-row flex-wrap my-4 d-flex justify-content-left align-items-center">
        <div class="form-group upload">
          <label>*Data De Inicio da Instalação:</label>
          <input formControlName="dataInicioInstalacao" type="text" id="datas" class="form-control"
          placeholder="Data Inicio" bsDatepicker [bsConfig]="bsConfig" autocomplete="off">
        </div>

        <div class="form-group upload">
          <label>*Data De Término da Instalação:</label>
          <input formControlName="dataFimInstalacao" type="text" id="datas" class="form-control"
          placeholder="Data Final" bsDatepicker [bsConfig]="bsConfig" autocomplete="off">
        </div>

      </div>
    </div>

    <div class="card my-3">
      <div class="card-header">
        <span>Imagens da Instalação:</span>
      </div>
      <div class="form-row flex-wrap my-4 d-flex flex-wrap justify-content-left align-items-bottom">
        <div class="form-group upload">
          <label>*Fotos Placas Instaladas: </label>
          <app-file-upload  formControlName="fotosPlacas" [invalid]="form.get('fotosPlacas').invalid" [multiple]="true"></app-file-upload>
        </div>

        <div class="form-group upload">
          <label>*Fotos Do Inversor: </label>
          <app-file-upload  formControlName="fotosInversor" [invalid]="form.get('fotosInversor').invalid" [multiple]="true"></app-file-upload>
          <span>*Optativa para inversores de difícil acesso</span>
        </div>

        <div class="form-group upload">
          <label>*Extra:</label>
          <app-file-upload  formControlName="fotosExtra" [invalid]="form.get('fotosExtra').invalid"
          [multiple]="true"
          ></app-file-upload>
          <span>*Restante da instalação</span>

        </div>
      </div>

    </div>

    <div class="card my-3">
      <div class="card-header">
        <span>Detalhes</span>
      </div>
      <div class="form-row flex-wrap my-4 d-flex justify-content-left align-items-center">
        <div class="form-group ">
            <label for="observacao">Observação</label>
            <input type="text" class="form-control" id="observacao" placeholder="Observação Não Obrigatória"
            formControlName="observacao">
        </div>
      </div>
    </div>






    <div class="d-flex justify-content-center align-items-center">
      <button type="submit" class="btn btn-light mt-3 p-3">Enviar</button>
    </div>
    <!-- <div *ngIf="formInvalid" class="alert alert-warning form-invalid" role="alert">
      Formulário inválido. Preencha todos os campos obrigatórios.
    </div> -->
  </form>
</div>
