<div class="form-case" [formGroup]="editForm">

  @if (loading) {
    <div class="loading-container">
      <div class="loading-circle"></div>
    </div>
  }

  @if (!loading) {
    <div class="form">
      <!-- Detalhes do Pedido -->
      <div class="card my-3">
        <div class="card-header">
          <h4 class="mb-0 destaque">Eventos</h4>
        </div>
        <div class="card-body d-flex flex-wrap justify-content-center">
          <!-- 1) Nota Fiscal Enviada -->
          <div class="list-group-item flex-item" style="width: 300px; text-align: center;">
            <strong>Nota Fiscal Enviada:</strong>
            <!-- Modo de VISUALIZAÇÃO -->
            @if (!isEditing) {
              <span>
                @if (editForm.value.detalhes.notaFiscalEnviada) {
                  <span class="ml-2 text-success">Sim</span>
                }
                @if (!editForm.value.detalhes.notaFiscalEnviada) {
                  <span class="ml-2 text-danger">Não</span>
                }
              </span>
            }
            <!-- Modo de EDIÇÃO (botão que inverte valor) -->
            @if (isEditing) {
              <span>
                <button class="btn" [ngClass]="editForm.value.detalhes?.notaFiscalEnviada ? 'btn-success' : 'btn-danger'"
              (click)="editForm.patchValue({
                detalhes: {
                  notaFiscalEnviada: !editForm.value.detalhes.notaFiscalEnviada
                }
              })"
                style="margin-left: 5px;">
                {{ editForm.value.detalhes?.notaFiscalEnviada ? 'Sim' : 'Não' }}
              </button>
            </span>
          }
        </div>
        <!-- 2) Visita Realizada -->
        <div class="list-group-item flex-item" style="width: 300px; text-align: center;">
          <strong>Visita Realizada:</strong>
          <!-- Modo de VISUALIZAÇÃO -->
          @if (!isEditing) {
            <span>
              @if (editForm.value.detalhes.visitaRealizada) {
                <span class="ml-2 text-success">Sim</span>
              }
              @if (!editForm.value.detalhes.visitaRealizada) {
                <span class="ml-2 text-danger">Não</span>
              }
            </span>
          }
          <!-- Modo de EDIÇÃO (botão que inverte valor) -->
          @if (isEditing) {
            <span>
              <button class="btn" [ngClass]="editForm.value.detalhes?.visitaRealizada ? 'btn-success' : 'btn-danger'"
              (click)="editForm.patchValue({
                detalhes: {
                  visitaRealizada: !editForm.value.detalhes.visitaRealizada
                }
              })"
              style="margin-left: 5px;">
              {{ editForm.value.detalhes?.visitaRealizada ? 'Sim' : 'Não' }}
            </button>
          </span>
        }
      </div>
      <!-- 3) Contrato Assinado -->
      <div class="list-group-item flex-item" style="width: 300px; text-align: center;">
        <strong>Contrato Assinado:</strong>
        @if (!isEditing) {
          <span>
            @if (editForm.value.detalhes.contratoAssinado) {
              <span class="ml-2 text-success">Sim</span>
            }
            @if (!editForm.value.detalhes.contratoAssinado) {
              <span class="ml-2 text-danger">Não</span>
            }
          </span>
        }
        @if (isEditing) {
          <span>
            <button class="btn" [ngClass]="editForm.value.detalhes?.contratoAssinado ? 'btn-success' : 'btn-danger'"
              (click)="editForm.patchValue({
                detalhes: {
                  contratoAssinado: !editForm.value.detalhes.contratoAssinado
                }
              })"
            style="margin-left: 5px;">
            {{ editForm.value.detalhes?.contratoAssinado ? 'Sim' : 'Não' }}
          </button>
        </span>
      }
    </div>
    <!-- 4) Equipamento Comprado -->
    <div class="list-group-item flex-item" style="width: 340px; text-align: center;">
      <strong>Equipamento Comprado:</strong>
      @if (!isEditing) {
        <span>
          @if (editForm.value.detalhes.equipamentoComprado) {
            <span class="ml-2 text-success">Sim</span>
          }
          @if (!editForm.value.detalhes.equipamentoComprado) {
            <span class="ml-2 text-danger">Não</span>
          }
        </span>
      }
      @if (isEditing) {
        <span>
          <button class="btn" [ngClass]="editForm.value.detalhes?.equipamentoComprado ? 'btn-success' : 'btn-danger'"
              (click)="editForm.patchValue({
                detalhes: {
                  equipamentoComprado: !editForm.value.detalhes.equipamentoComprado
                }
              })"
          style="margin-left: 5px;">
          {{ editForm.value.detalhes?.equipamentoComprado ? 'Sim' : 'Não' }}
        </button>
      </span>
    }
  </div>
  <!-- 5) Pagamento Realizado -->
  <div class="list-group-item flex-item" style="width: 300px; text-align: center;">
    <strong>Pagamento Realizado:</strong>
    @if (!isEditing) {
      <span>
        @if (editForm.value.detalhes.pagamentoRealizado) {
          <span class="ml-2 text-success">Sim</span>
        }
        @if (!editForm.value.detalhes.pagamentoRealizado) {
          <span class="ml-2 text-danger">Não</span>
        }
      </span>
    }
    @if (isEditing) {
      <span>
        <button class="btn" [ngClass]="editForm.value.detalhes?.pagamentoRealizado ? 'btn-success' : 'btn-danger'"
            (click)="editForm.patchValue({
              detalhes: {
                pagamentoRealizado: !editForm.value.detalhes.pagamentoRealizado
              }
            })"
        style="margin-left: 5px;">
        {{ editForm.value.detalhes?.pagamentoRealizado ? 'Sim' : 'Não' }}
      </button>
    </span>
  }
</div>
</div>
</div>
<!-- Informações Pessoais -->
<div class="card my-3">
  <div class="card-header">
    <h4 class="mb-0 destaque">Informações Pessoais</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <!-- Nome -->
      <div class="col-md-4">
        <strong>Nome:</strong>
        @if (!isEditing) {
          <span>{{ detalhes?.nomeCompleto }}</span>
        }
        @if (isEditing) {
          <input type="text" class="form-control" formControlName="nomeCompleto" />
        }
      </div>
      <!-- CPF -->
      <div class="col-md-4">
        <strong>CPF:</strong>
        @if (!isEditing) {
          <span>{{ detalhes?.cpfCliente }}</span>
        }
        @if (isEditing) {
          <input type="text" class="form-control" formControlName="cpfCliente" />
        }
      </div>
      <!-- Celular -->
      <div class="col-md-4">
        <strong>Celular:</strong>
        @if (!isEditing) {
          <span>{{ detalhes?.celular }}</span>
        }
        @if (isEditing) {
          <input type="text" class="form-control" formControlName="celular" />
        }
      </div>
      <!-- Email -->
      <div class="col-md-4">
        <strong>Email:</strong>
        @if (!isEditing) {
          <span>{{ detalhes?.email }}</span>
        }
        @if (isEditing) {
          <input type="email" class="form-control" formControlName="email" />
        }
      </div>
      <!-- Endereço -->
      <div class="col-md-4">
        <strong>Endereço:</strong>
        @if (!isEditing) {
          <span>{{ detalhes?.endereco }}</span>
        }
        @if (isEditing) {
          <input type="text" class="form-control" formControlName="endereco" />
        }
      </div>
    </div>
  </div>
</div>
<!-- Informações Gerenciais -->
<div class="card my-3">
  <div class="card-header">
    <h4 class="mb-0 destaque">Informações Gerenciais</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <!-- Status -->
      <div class="col-md-4">
        <strong>Status:</strong>
        @if (!isEditing) {
          <span>{{ detalhes?.status }}</span>
        }
        @if (isEditing) {
          <input type="text" class="form-control" formControlName="status" />
        }
      </div>
      <!-- Consumo Mensal -->
      <div class="col-md-4">
        <strong>Consumo Mensal:</strong>
        @if (!isEditing) {
          <span>{{ detalhes?.consumoMensal }}</span>
        }
        @if (isEditing) {
          <input type="number" class="form-control" formControlName="consumoMensal" />
        }
      </div>
      <!-- Forma de Pagamento -->
      <div class="col-md-4">
        <strong>Forma de Pagamento:</strong>
        @if (!isEditing) {
          <span>{{ detalhes?.formaPagamento }}</span>
        }
        @if (isEditing) {
          <input type="text" class="form-control" formControlName="formaPagamento" />
        }
      </div>
      <!-- Mudança Mais Recente (dataPedido) -->
      <div class="col-md-4">
        <strong>Mudança Mais Recente:</strong>
        @if (!isEditing) {
          <span>{{ detalhes?.dataPedido | date: 'dd/MM/yyyy' }}</span>
        }
        @if (isEditing) {
          <input type="text" class="form-control" formControlName="dataPedido" />
        }
      </div>
      <!-- Observação -->
      <div class="col-md-4">
        <strong>Observação:</strong>
        @if (!isEditing) {
          <span>{{ detalhes?.observacao }}</span>
        }
        @if (isEditing) {
          <input type="text" class="form-control" formControlName="observacao" />
        }
      </div>
    </div>
  </div>
</div>
<!-- Informações de Instalação -->
<div class="card my-3">
  <div class="card-header">
    <h4 class="mb-0 destaque">Informações de Instalação</h4>
  </div>
  <div class="card-body">
    <!-- Exibindo texto se !isEditing e exibindo inputs se isEditing -->
    <div class="row" formGroupName="instalacao">
      <!-- Potência Gerador -->
      <div class="col-md-6">
        <strong>Potência Gerador:</strong>
        @if (!isEditing) {
          <span>{{ detalhes?.instalacao?.potenciaGerador }}</span>
        }
        @if (isEditing) {
          <input type="text" class="form-control" formControlName="potenciaGerador" />
        }
      </div>
      <!-- Distribuidora -->
      <div class="col-md-6">
        <strong>Distribuidora:</strong>
        @if (!isEditing) {
          <span>{{ detalhes?.instalacao?.distribuidora }}</span>
        }
        @if (isEditing) {
          <input type="text" class="form-control" formControlName="distribuidora" />
        }
      </div>
      <!-- Exemplo dos inputs com ng-select (Inversores) -->
      <div class="col-md-6 mt-3">
        <strong>Inversores:</strong>
        <!-- Texto -->
        @if (!isEditing) {
          <span>
            {{ detalhes?.instalacao?.inversores }}
          </span>
        }
        <!-- Input com ng-select -->
        @if (isEditing) {
          <ng-select class="selecter" formControlName="inversores"
            [items]="equipamentos?.inversores" bindLabel="nome" bindValue="nome" placeholder="Selecione um Inversor"
            (change)="onInversorChange($event)">
          </ng-select>
        }
      </div>
      <div class="col-md-3 mt-3">
        <strong>Quantidade de Inversores:</strong>
        @if (!isEditing) {
          <span>
            {{ detalhes?.instalacao?.quantidadeInversores }}
          </span>
        }
        @if (isEditing) {
          <input type="number" class="form-control" formControlName="quantidadeInversores" />
        }
      </div>
      <div class="col-md-3 mt-3">
        <strong>Garantia Fabricação (Anos):</strong>
        @if (!isEditing) {
          <span>
            {{ detalhes?.instalacao?.garantiaFabricacaoInversor }}
          </span>
        }
        @if (isEditing) {
          <input type="number" class="form-control" formControlName="garantiaFabricacaoInversor" />
        }
      </div>
      <!-- Placas -->
      <div class="col-md-6 mt-3">
        <strong>Placas:</strong>
        @if (!isEditing) {
          <span>
            {{ detalhes?.instalacao?.placas }}
          </span>
        }
        @if (isEditing) {
          <ng-select class="selecter" formControlName="placas" [items]="equipamentos?.placas"
            bindLabel="nome" bindValue="nome" placeholder="Selecione um Módulo" (change)="onModuloChange($event)">
          </ng-select>
        }
      </div>
      <div class="col-md-3 mt-3">
        <strong>Quantidade de Placas:</strong>
        @if (!isEditing) {
          <span>
            {{ detalhes?.instalacao?.quantidadePlacas }}
          </span>
        }
        @if (isEditing) {
          <input type="number" class="form-control" formControlName="quantidadePlacas" />
        }
      </div>
      <div class="col-md-3 mt-3">
        <strong>Garantia Fabricação (Anos):</strong>
        @if (!isEditing) {
          <span>
            {{ detalhes?.instalacao?.garantiaFabricacaoPlaca }}
          </span>
        }
        @if (isEditing) {
          <input type="number" class="form-control" formControlName="garantiaFabricacaoPlaca" />
        }
      </div>
      <div class="col-md-4 mt-3">
        <strong>Garantia Performance (Anos):</strong>
        @if (!isEditing) {
          <span>
            {{ detalhes?.instalacao?.garantiaPerformancePlaca }}
          </span>
        }
        @if (isEditing) {
          <input type="number" class="form-control" formControlName="garantiaPerformancePlaca" />
        }
      </div>
      <!-- Suporte -->
      <div class="col-md-6 mt-3">
        <strong>Suporte:</strong>
        @if (!isEditing) {
          <span>
            {{ detalhes?.instalacao?.suporte }}
          </span>
        }
        @if (isEditing) {
          <ng-select class="selecter" formControlName="suporte" [items]="tiposSuportes"
            bindLabel="nome" bindValue="nome" placeholder="Selecione um Suporte">
          </ng-select>
        }
      </div>
      <div class="col-md-3 mt-3">
        <strong>Quantidade de Suportes:</strong>
        @if (!isEditing) {
          <span>
            {{ detalhes?.instalacao?.quantidadeSuportes }}
          </span>
        }
        @if (isEditing) {
          <input type="number" class="form-control" formControlName="quantidadeSuportes" />
        }
      </div>
      <!-- Datas de Início e Fim -->
      <div class="col-md-6 mt-3">
        <strong>Data de Início:</strong>
        @if (!isEditing) {
          <span>
            {{ detalhes?.instalacao?.dataInicio | date: 'dd/MM/yyyy'}}
          </span>
        }
        @if (isEditing) {
          <input  formControlName="dataInicio" type="text" id="dataInicio" class="form-control"
            placeholder="Data Inicio" bsDatepicker [bsConfig]="bsConfig" autocomplete="off">
        }
      </div>
      <div class="col-md-6 mt-3">
        <strong>Data de Fim:</strong>
        @if (!isEditing) {
          <span>
            {{ detalhes?.instalacao?.dataFim | date: 'dd/MM/yyyy'}}
          </span>
        }
        @if (isEditing) {
          <input  formControlName="dataFim" type="text" id="dataFim" class="form-control"
            placeholder="Data Inicio" bsDatepicker [bsConfig]="bsConfig" autocomplete="off">
        }
      </div>
    </div>
  </div>
</div>
</div>
}

<!-- Se o usuário puder editar, exibimos o botão -->
@if (canEdit && !loading) {
  <button class="btn btn-primary mb-3" (click)="toggleEdit()">
    {{ isEditing ? 'SALVAR' : 'EDITAR' }}
  </button>
}

</div>
