.form{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.form-case{
  margin-top: 15px;
  margin-bottom: 40px;
}

.form-group{
  margin: 10px 40px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .form-case{

  }

  .form-group{
    margin: 5px 15px;
    width: 90%;
  }
}
