.navbar-nav .nav-link {
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-collapse {
  justify-content: center;
}

.active-link {
  background-color: #ccc;
  // ou qualquer outro estilo que você deseja aplicar
  pointer-events: none; // para desativar o link
}
