.navbar-nav .nav-link {
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-collapse {
  justify-content: center;
}

.active-link {
  background-color: #ccc;
  // ou qualquer outro estilo que você deseja aplicar
  pointer-events: none; // para desativar o link
}
.navbar{
  width: 100%;
}
.submenu {
  overflow: hidden;
  // ... outros estilos
}

.menu{
  display: flex !important;
  flex-direction: column !important;
}

// .dropdown-menu {
//   display: none;
//   transition: max-height 0.3s ease-out;
//   max-height: 0;
//   overflow: hidden;
// }

// .dropdown.show .dropdown-menu {
//   display: block;
//   max-height: 300px; // altere para se adaptar ao tamanho que você deseja
// }

.submenu {
  background-color: #f8f9fa; // Isso é apenas o mesmo bg-light do Bootstrap. Ajuste conforme necessário.
  min-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: max-height 0.3s ease-out;
  overflow: hidden;

  a {
      margin: 10px 15px;
      color: rgba(0,0,0, 0.65); // Cor padrão do link do Bootstrap.
      padding: 10px 0;
      &:hover {
          text-decoration: none;
      }
  }
}
