<nav class="navbar menu  navbar-light bg-light justify-content-center animate__animated animate__fadeIn">
  <div class="nav-cont collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav nav-principal">
      <li class="nav-item " *ngIf="userCargo=='ADMINISTRADOR'">
        <a class="nav-link" routerLink="/ref" [routerLinkActive]="['active-link']"
          [routerLinkActiveOptions]="{exact: true}" [attr.disabled]="isActive('/ref') ? true : null"> <i
            class="fa-solid fa-user"></i> Usuários</a>
      </li>

      <li class="nav-item active" *ngIf="userCargo=='ADMINISTRADOR'">
        <a class="nav-link" routerLink="/setores" [routerLinkActive]="['active-link']"
          [routerLinkActiveOptions]="{exact: true}" [attr.disabled]="isActive('/setores') ? true : null"> <i
            class="fa-solid fa-clipboard"></i> Setores</a>
      </li>


      <!-- <li class="nav-item active" *ngIf="userCargo=='ADMINISTRADOR'">
        <a class="nav-link" (click)="toggleSubmenu('calendario')"
        role="button" [class.sub-active]="menuSelected == 'calendario' && isOpen">
        <i class="fa-solid fa-calendar-days"></i>Eventos</a>
      </li> -->


      <li class="nav-item">
        <a class="nav-link" (click)="toggleSubmenu('automacoes')" role="button"
          [class.sub-active]="menuSelected == 'automacoes' && isOpen">
          <i class="fa-solid fa-robot"></i> Automações</a>
      </li>


      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/formularios" [routerLinkActive]="['active-link']"
          [routerLinkActiveOptions]="{exact: true}" [attr.disabled]="isActive('/formularios') ? true : null"> <i
            class="fa-solid fa-file-alt"></i> Formulários</a>
      </li> -->



      <!-- tela de relatorio -->
      <li class="nav-item active" *ngIf="userCargo=='ADMINISTRADOR'">
        <a class="nav-link" routerLink="/relatorio" [routerLinkActive]="['active-link']"
          [routerLinkActiveOptions]="{exact: true}" [attr.disabled]="isActive('/relatorio') ? true : null"><i
            class="fa-solid fa-chart-line"></i>Relatório</a>
      </li>


      <li class="nav-item" >
        <a class="nav-link" routerLink="/equipamentos" [routerLinkActive]="['active-link']"
          [routerLinkActiveOptions]="{exact: true}" [attr.disabled]="isActive('/equipamentos') ? true : null"> <i
            class="fa-solid fa-wrench"></i> Equipamentos</a>
      </li>

      <li class="nav-item" *ngIf="userCargo=='ADMINISTRADOR' || userCargo=='GESTOR'">
        <a class="nav-link" routerLink="/homologacoes" [routerLinkActive]="['active-link']"
          [routerLinkActiveOptions]="{exact: true}" [attr.disabled]="isActive('/homologacoes') ? true : null"> <i
            class="fa-solid fa-folder-open"></i> Homologações</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" (click)="toggleSubmenu('pedidos')" role="button"
          [class.sub-active]="menuSelected == 'pedidos' && isOpen">
          <i class="fa-solid fa-paper-plane"></i>
          <span *ngIf="userCargo=='COLABORADOR'">Meus</span>
          Clientes</a>
      </li>

      <li class="nav-item active" *ngIf="userCargo=='ADMINISTRADOR' || userCargo=='GESTOR'">
        <a class="nav-link" routerLink="usuarios/novo" [routerLinkActive]="['active-link']"
          [routerLinkActiveOptions]="{exact: true}" [attr.disabled]="isActive('usuarios/novo') ? true : null"><i
            class="fa-solid fa-user-plus"></i> Novo Usuario</a>
      </li>

      <!-- Meu Relatório -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="relatorios/meus" [routerLinkActive]="['active-link']"
          [routerLinkActiveOptions]="{exact: true}" [attr.disabled]="isActive('relatorios/meus') ? true : null"><i
            class="fa-solid fa-star"></i> Meu Relatório</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/conta" [routerLinkActive]="['active-link']"
          [routerLinkActiveOptions]="{exact: true}" [attr.disabled]="isActive('/conta') ? true : null"><i
            class="fa-solid fa-user-pen"></i> Minha Conta</a>
      </li>
    </ul>
  </div>

  <div class="submenu" *ngIf="isOpen">
    <div class="w-100 sub-area" *ngIf="menuSelected == 'pedidos'">

      <a routerLink="pedido/criar"
      [routerLinkActive]="['active-link']" title="Novo Pedido"
      [routerLinkActiveOptions]="{exact: true}">
        <i class="fa-solid fa-circle-plus"></i>Novo Pedido
      </a>


      <div class="d-flex align-items-center">
        <div class="separator"></div>
      </div>

      <!-- <a routerLink="/pedidos/todos"
      [routerLinkActive]="['active-link']"
      [routerLinkActiveOptions]="{exact: true}"
      [attr.disabled]="isActive('/todos') ? true : null">Todos</a> -->


      <a *ngFor="let pedido of Constantes.pedidos; let i = index"
        [routerLink]="'/pedidos/' + pedido.toLowerCase()"
        [routerLinkActive]="['active-link']"
        [routerLinkActiveOptions]="{exact: true}"
        [attr.disabled]="isActive('/' + pedido.toLowerCase()) ? true : null">
      {{ Constantes.titulos[i] }}
      </a>

      <div class="d-flex align-items-center">
        <div class="separator"></div>
      </div>

      <!-- <a routerLink="/pedidos/standby" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact: true}"
        [attr.disabled]="isActive('/standby') ? true : null">
        <i class="fa-regular fa-hourglass text-warning"></i>StandBy</a>

      <a routerLink="/pedidos/perdido" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact: true}"
        [attr.disabled]="isActive('/perdido') ? true : null">
        <i class="fa-regular fa-triangle-exclamation  text-danger"></i>Perdidos</a> -->
    </div>

    <!-- <div class="w-100 sub-area" *ngIf="menuSelected == 'relatorios'">
      <a routerLink="relatoriosGerenciais/vendas" [routerLinkActive]="['active-link']"
        [routerLinkActiveOptions]="{exact: true}"
        [attr.disabled]="isActive('relatoriosGerenciais/vendas') ? true : null">Relatórios de Vendas</a>
    </div> -->


    <!--
    eventos
    <div class="w-100 sub-area" *ngIf="menuSelected == 'calendario'">

      <a routerLink="calendario"
          [routerLinkActive]="['active-link']"
          [routerLinkActiveOptions]="{exact: true}"
          [attr.disabled]="isActive('calendario') ? true : null">Calendário
      </a>

      <a routerLink="eventos/novo"
          [routerLinkActive]="['active-link']"
          [routerLinkActiveOptions]="{exact: true}"
          [attr.disabled]="isActive('eventos/novo') ? true : null">Novo Evento
      </a>
    </div> -->

    <div class="w-100 sub-area" *ngIf="menuSelected == 'automacoes'">
      <!-- <a routerLink="contrato/gerar" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact: true}"
        [attr.disabled]="isActive('contratos/gerar') ? true : null" *ngIf="userCargo=='ADMINISTRADOR'">Gerar Contrato
      </a> -->

      <a routerLink="proposta/gerar" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact: true}"
        [attr.disabled]="isActive('proposta/gerar') ? true : null">Gerar Proposta
      </a>

      <!-- <a routerLink="projetos/dimencionar"
          [routerLinkActive]="['active-link']"
          [routerLinkActiveOptions]="{exact: true}"
          [attr.disabled]="isActive('projetos/dimencionar') ? true : null">Dimensionar Projeto
      </a> -->

      <a routerLink="procuracao/gerar" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact: true}"
        [attr.disabled]="isActive('procuracao/gerar') ? true : null" *ngIf="userCargo=='ADMINISTRADOR'">Gerar Procuração
      </a>
    </div>
  </div>
</nav>
