.relatorio{
  margin: 0 4%;
  overflow: -webkit-paged-x;

  .percents{
    width: 100%;
    display: flex;
    justify-content: center;
    .display{
      margin:  0 50px;
    }
  }

  .charts{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 20px 0;
    .chart{

      display: flex;
      // height: 300px !important;
      width: 50% !important;
      canvas{
        width: 100%;
        padding:  0 2%;
      }
    }
  }

  .tabelas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    .tabela{
      display: flex;
      flex-direction: column;
      margin: 0 5%;
      p{
        font-weight: bolder;
        text-align: center;
      }
    }

    .tempo-medio{
      width: 300px;
    }
  }

}

.actions{
  display: flex;
  justify-content: flex-end;
  padding: 0 18px;
  margin-top: 20px;
}

.form-row{
  display: flex;


  .form-group{
    padding: 0px 18px;
  }
}




@media (max-width: 768px) {

  .charts{

    .chart{


      width: 100% !important;
      canvas{
        padding:  0 0;
      }
    }


  }
}
