.everything {
	height: 100%;
}

.app-content {
	padding: 7px;
	padding-bottom: 0;
	transition-property: margin-left;
	transition-duration: 550ms;
}

.app-content.menu-collapsed {
	margin-left: 0px;
	transition-duration: 650ms;
}

.app-content.is-login {
	margin-left: inherit;
}

.space{
  width: 1px;
  height: 50px;
}
