<div class="w-100 c-holder">

  <app-modal #modal class="info ">
    <div class="title w-100 d-flex justify-content-center display-6">
      {{eventoModal.tipo}}
    </div>

    <div class="dados d-flex flex-column justify-content-center w-100">

      <span class="w-100">Rua:  {{eventoModal.local?.rua}}</span>
      <span class="w-100">Cep:  {{eventoModal.local?.cep}}</span>

      <span class="w-100">Data: {{ formatarData(eventoModal.data?.data)}} </span>
      <span class="w-100">Horario: {{eventoModal.data?.hora}}:{{eventoModal.data?.minuto}} </span>
    </div>
  </app-modal>



  <full-calendar
  [options]="calendarOptions"
  class="calendar"
  ></full-calendar>

</div>

