.c-holder{
  // max-height: calc(100vh - 60px - 75px);
  display: flex;
  justify-content: center;

  .info{


  }

  .calendar{
    min-height: 600px;
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .c-holder{
    .calendar{
      min-height: 600px;
      width: 90%;
    }
  }
}
