
.check-list{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .check{
    padding: 10px 10px;
    i{
      font-size: 2rem;
    }
  }
}

.select{
  padding: 6px 12px !important;
}

.separar{
  margin-left: 5px;
}

.align-icon{
  display: flex ;
  justify-content: center ;
  cursor: pointer;
}

.ref-header{
  text-align: right;
}

.edit-form{
  display: flex;
  flex-wrap: wrap;
  div.form-group{
    // width: 50%;
    padding-left: 5px;
  }

  .btn-area {
    display: flex;
    justify-content: space-between;

    i{
      margin-right: 3px;
    }
  }
}

h2{
  text-align: center;
  margin-top: 30px !important;

}


.opts{
  align-content: center;
  justify-content: space-between;

  .icon{
    color: red;
    transform: scale(2);
  }
}

.details{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .separator{
    width: 100%;
    height: 0px;
    margin: 15px 10px;
    border: 1px solid black;
  }

  .detail{
    margin: 2px 5px;
    // background-color: #81C784;
    border-bottom: 2px solid #81C784;
    padding: 10px 15px;


    .label{
      color: black;
    }
    .content{
      margin-left: 12px;
    }
  }
}

.drive{
  margin-right: 30px;
  color: white;
}

.navigation{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.lista-pedidos{


  .celular{
    min-width: 150px;
  }

  .nome{
    min-width: 150px;
  }
}

.configs{
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  *{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  select{
    height: 40px;
  }

  .pagination{
    margin-bottom: 0;
    margin-left: 5px;
  }

  .page-size{
    label{
      margin-right: 5px;
    }
    #pageSizeSelect{
      width: 100px;
      padding: 2px 12px;
    }

  }


  .ordenator{
    .criterio{
      width: 130px;
      padding: 2px 10px;

    }

    .orders-ratio{
      input{
        transform: scale(1.5);
        margin-right: 5px;
      }

      i{
        font-size: 1.5rem;
        margin-right: 15px;

      }

      i.asc{
        transform: rotate(180deg);
      }

    }
  }

  .bulk-avance{
    margin-top: 12px;

    div{
      padding: 8px;
      color: white;
      .fa-solid{
        margin-bottom: 0 !important;
        margin: 0 5px;
      }
    }

    .retroceder{
      background-color: rgba(var(--bs-warning-rgb),var(--bs-bg-opacity))!important;
      cursor: pointer;
    }

    .enviar{
      background-color: rgba(var(--bs-success-rgb),var(--bs-bg-opacity))!important;
      cursor: pointer;
    }

    .avancar{
      background-color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity))!important;
      cursor: pointer;
    }
  }
}

.eventos{
  margin-bottom: 20px;
  .visita{
    margin-right: 15px;
  }
}

/* timepicker.component.scss */
.timepicker-container {
  /* Estilos do contêiner */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.timepicker-inputs {
  /* Estilos dos inputs */
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 50px;
    padding: 5px;
    margin: 0 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;

    &:focus {
      outline: none;
      border-color: blue;
    }
  }
}



.contadores{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.select-container {
  margin: 10px;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Ajuste a altura conforme necessário */
}

.loading-circle {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid blue; /* Cor do círculo */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.radio{
  input{
    position: relative;
  }
}


.navegacao{
  display: flex;
  justify-content: center;
  margin-top: 5px;
  .holder{
    width: 28px;
    margin: 0px 20px;
    i{
      cursor: pointer;
    }
  }
}

.form-group{
  margin: 12px 0;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (max-width: 768px) {
  .tabela{
    max-width: 100%;
    overflow-x: scroll;
    padding: 0px 0px !important;
  }

  .info{
    h4{
      text-align: center;
    }
  }

  .configs{
    display: flex;
    justify-content: center;
    align-items: center;

    div{
      margin-bottom: 2px;
    }
  }

  .edit-form{
    div.form-group{
      // width: 90%;
      padding-left: 5px;
    }
  }
}
