<div class="container mt-5 bg-light p-4 rounded">

<h1>Referências</h1>

<div class="ref">
  <div class="w-100">
    <h2>Todas Os Usuários</h2>

    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Link</th>
          <th scope="col">Nome</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ref of list">
          <td scope="row" (click)="copiarLink(ref.referencia)">{{ ref.referencia }}</td>
          <td scope="row">{{ ref.nomeCompleto }}</td>
          <td scope="row" >
            <i
            class="fa-solid fa-trash-can icon bg-danger text-white"
            (click)="apagar(ref)"></i>
            <i
            class="fa-solid fa-pen icon bg-warning text-white space"
            (click)="editar(ref)"></i>
          </td>

        </tr>
      </tbody>
    </table>
    <h6 class="text-info">*Clique na linha do link para copiar para a área de transferência</h6>
  </div>
</div>
</div>
