<div class="container mt-5 bg-light p-4 rounded">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID Pedido</th>
        <th scope="col">Nome Completo</th>
        <th scope="col">Consumo de Energia Mensal</th>
        <th scope="col">Celular</th>
        <th scope="col">Cidade</th>
        <th scope="col">CEP</th>
        <th scope="col">Rua</th>
        <th scope="col">Email</th>
        <th scope="col">Referência</th>
        <th scope="col">Data do Pedido</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of list">
        <td scope="row">{{ pedido.idPedido }}</td>
        <td scope="row">{{ pedido.nomeCompleto }}</td>
        <td scope="row">{{ pedido.consumoDeEnergiaMensal }}</td>
        <td scope="row">{{ pedido.celular }}</td>
        <td scope="row">{{ pedido.cidade }}</td>
        <td scope="row">{{ pedido.cep }}</td>
        <td scope="row">{{ pedido.rua }}</td>
        <td scope="row">{{ pedido.email }}</td>
        <td scope="row">{{ pedido.referencia }}</td>
        <td scope="row">{{ formatarData(pedido.dataPedido) }}</td>
      </tr>
    </tbody>
  </table>
</div>
