<div class="container mt-5 bg-light p-4 rounded tabela">

  <app-modal #modal class="info ">
    <div class="w-100"  *ngIf="showDetails">
      <h2>Detalhes
      </h2>
        <h4 class="ref-header  text-danger">Referencia: {{ detalhes.ref }}</h4>
      <div class="details">
        <h3 class="w-100">Pessoal:</h3>
        <div class="detail">
          <span class="label">Nome:</span>
          <span class="content">{{ detalhes.nomeCompleto }}</span>
        </div>

        <div class="detail">
          <span class="label">Celular:</span>
          <span class="content">{{ detalhes.celular }}</span>
        </div>

        <div class="detail">
          <span class="label">Email:</span>
          <span class="content">{{ detalhes.email }}</span>
        </div>

        <div class="detail">
          <span class="label">Endereço:</span>
          <span class="content">{{ detalhes.cidade }} - {{ detalhes.rua }} - {{ detalhes.cep }}</span>
        </div>

        <span class="separator"></span>

        <h3 class="w-100">Gerencial:</h3>
        <div class="detail">
          <span class="label">Status:</span>
          <span class="content">{{ detalhes.status }}</span>
        </div>
        <div class="detail">
          <span class="label">Consumo:</span>
          <span class="content">{{ detalhes.consumoDeEnergiaMensal }}</span>
        </div>

        <div class="detail">
          <span class="label">Data Do Pedido:</span>
          <span class="content">{{ formatarData(detalhes.dataPedido) }}</span>
        </div>

        <div class="detail">
          <span class="label">Referencia:</span>
          <span class="content">{{ detalhes.ref }}</span>
        </div>

        <div class="detail">
          <span class="label">Responsável:</span>
          <span class="content">{{ detalhes.responsavel ? detalhes.responsavel : "Sem"}}</span>
        </div>

        <span class="separator"></span>

        <h2>Observação:</h2>
        <div class="d-flex align-items-center  ml-3">
          <span class="obs text-danger">{{ detalhes.observacao ? detalhes.observacao : "Sem Obs"}}</span>
        </div>
      </div>
    </div>

    <div class="w-100"  *ngIf="showEdit">
      <h2>Editar Detalhes</h2>

      <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="edit-form">

        <!-- Pessoal -->
        <h3 class="w-100">Pessoal:</h3>

        <div class="form-group">
          <label for="nomeCompleto">Nome:</label>
          <input type="text" class="form-control" id="nomeCompleto" formControlName="nomeCompleto">
        </div>

        <div class="form-group">
          <label for="celular">Celular:</label>
          <input type="tel" class="form-control" id="celular" formControlName="celular">
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" formControlName="email">
        </div>

        <div class="form-group">
          <label for="cidade">Cidade:</label>
          <input type="text" class="form-control" id="cidade" formControlName="cidade">
        </div>

        <div class="form-group">
          <label for="rua">Rua:</label>
          <input type="text" class="form-control" id="rua" formControlName="rua">
        </div>

        <div class="form-group">
          <label for="cep">CEP:</label>
          <input type="text" class="form-control" id="cep" formControlName="cep" maxlength="10" placeholder="00000-000">
        </div>

        <!-- Gerencial -->
        <h3 class="w-100">Gerencial:</h3>

        <div class="form-group">
          <label for="status">Status:</label>
          <input type="text" class="form-control" id="status" formControlName="status">
        </div>

        <div class="form-group">
          <label for="consumoDeEnergiaMensal">Consumo Mensal de Energia:</label>
          <input type="number" class="form-control" id="consumoDeEnergiaMensal" formControlName="consumoDeEnergiaMensal">
        </div>

        <div class="form-group">
          <label for="dataPedido">Data do Pedido:</label>
          <input type="date" class="form-control" id="dataPedido" formControlName="dataPedido">
        </div>

        <div class="form-group">
          <label for="ref">Referência:</label>
          <input type="text" class="form-control" id="ref" formControlName="ref">
        </div>

        <div class="form-group">
          <label for="responsavel">Responsável:</label>
          <input type="text" class="form-control" id="responsavel" formControlName="responsavel">
        </div>

        <div class="form-group">
          <label for="cidade">Observação:</label>
          <input type="text" class="form-control" id="observacao" formControlName="observacao">
        </div>

        <div class="form-group w-100 btn-area ">
          <button [disabled]="nothingChanged()" type="submit" class="btn btn-primary">Salvar</button>
        </div>

      </form>
    </div>
  </app-modal>


  <table class="table table-bordered ">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Celular</th>
        <th scope="col">Data do Pedido</th>
        <th scope="col">Detalhes</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of list">
        <td scope="row">{{ pedido.idPedido }}</td>
        <td scope="row">{{ pedido.nomeCompleto }}</td>
        <td scope="row">{{ pedido.celular }}</td>
        <td scope="row">{{ formatarData(pedido.dataPedido) }}</td>
        <td scope="row">
          <div class="align-icon" >
            <i class="fa solid fa-eye icon bg-info text-white"
            (click)="abrirDetalhes(pedido)"></i>
            <i class="fa solid fa-pen icon bg-warning text-white"
            (click)="abrirEdicao(pedido)" *ngIf="isAdm"></i>

          </div>
        </td>
        <th scope="col">
          <div class="align-icon" >
            <i class="icon bg-primary text-white"
            (click)="avancarPedido(pedido)">Avançar</i>
            <i class="icon bg-danger text-white separar"
            (click)="deletarPedido(pedido)">Deletar</i>
          </div>
        </th>


      </tr>
    </tbody>
  </table>
</div>
